langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
pandas
langchain-text-splitters
unstructured
libmagic
pymupdf
docx2txt
unstructured[docx]
langchain-experimental
rank_bm25
wikipedia
python-magic-bin
PyMuPDF
Pillow
torch